body {
    background-color: rgb(65, 187, 236);
}

.color-header {
    color: rgb(108, 105, 255)
}

nav a {
    color: blue
}

a {
    color: rgb(255, 0, 0);
}

#top {
    color: rgb(0, 132, 255);
}

.box {
    background: rgb(206, 212, 27);

    overflow: auto;
    width: 200px;
    height: 200px;
   
    padding: 16px;
    border: 3px solid #fff;
    border-radius: 20px;
    margin: 100px;
    box-sizing: border-box;
    position: relative
}



.absolute {
    position: sticky;
    background: yellow;
    top: 10px;
    right: 10px;


}

.float-left {
    float: left;
    background: yellow;
    color: black;
    min-height: 100px;
}

.float-right {
    float: right;
    background: yellow;
    color: black;
    height: 400px;
}

.clear {
    clear: left;

}