body{
    background-color: lightblue;
}

.light-green {
    color:lightgreen
}
.light-pink {
    color:lightpink
}
.pepakonrad{
    color:rgb(255, 30, 0)
}
.navigation {
    background: green;
    padding: 16px;
    border-radius: 8px;
    }
    .navigation__link{
        color: #fff;
        display: inline-block;
        margin-right: 40px;
        border-radius: 4px;
    }
    .navigation__link--homepage{
        background: yellow;
        color: black;
        padding:0px 10px;
    }